.content
{
    display: flex;
    position: fixed;
    align-items: center;
}

.text
{
    margin-top: 95px;
}

img
{
    margin: 70px;
    margin-top: 150px;
    width: 700px;
}

h1
{
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 60px;
    color: #00abb5;
}

p
{
    margin: 0;
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    width: 440px;
    text-align: justify;
}

strong
{
    color: #00abb5;
}